<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="description" content="<%= description %>">
  <title><%= title %></title>
  <link rel="shortcut icon" href="<%= rootPath %>/img/favicon.ico">
  <%_ if (vendorCssPath) { _%>
  <link rel="stylesheet" href="<%= rootPath %>/build/<%= vendorCssPath %>">
  <%_ } _%>
  <%_ if (pageCssPath) { _%>
  <link rel="stylesheet" href="<%= rootPath %>/build/<%= pageCssPath %>">
  <%_ } _%>
</head>
<body>
  <div id="root"><%- __html %></div>
  <script src="/asset/js/react/react-with-addons.min.js"></script>
  <script src="/asset/js/react/react-dom.min.js"></script>
  <script>window.rootPath = '<%= rootPath %>';</script>
  <%_ if (vendorJsPath) { _%>
  <script src="<%= rootPath %>/build/<%= vendorJsPath %>"></script>
  <%_ } _%>
  <%_ if (pageJsPath) { _%>
  <script src="<%= rootPath %>/build/<%= pageJsPath %>"></script>
  <%_ } _%>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d6bc736fd9885d9a5dc938425ac062ad";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-899J8PYKJZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-899J8PYKJZ');
  </script>
</body>
</html>